nav#menu
  ul
    li
      a.icon-vcard(href="/")
    li
      a.icon-pencil-alt(href="/")
    li
      a.icon-globe(href="/")
    li
      a.icon-archive(href="/")
    li
      a.icon-cog(href="/")
  img.logo(src="/images/pluma-iso-alt.png")