/node_modules
/lib/settings_old.js

# Compiled stylesheets
/themes/bootstrap_basic/public/stylesheets/main.css
/apps/admin/public/stylesheets/app.css

# OS X Users, anyone?
.DS_Store

# Developer goodies
/herman