// forms

input[type='text']
  field_style()

textarea
  field_style()

button,
input[type='button'],
input[type='submit']
  button()

fieldset
  border 1px solid light
  border-radius 5px
  width 350px
  shade()

.label
  font 14px 'helvetica neue', helvetica, arial, sans-serif
  smooth()

