// globals

body
  padding 5px 40px 40px 40px
  font 14px 'helvetica neue', helvetica, arial, sans-serif
  background url(/images/background.png) 
  smooth()

.hide
  display: none

.show
  display: block
  
#header
  roundedges(white, darkGray)
  padding 20px
  width 760px
  font 18px 'helvetica neue', helvetica, arial, sans-serif
  color light
  smooth()
  shade()

#header a
  color light

.error 
  background  #c85269 
  border  1px solid #9a3c4e 
  -webkit-border-radius  5px 
  -moz-border-radius  5px 
  border-radius  5px 
  padding  10px 
  color  #fffeff 
  font-size  22px

// wrapper

.wrap
  width 800px

.left
  float left
  width 400px

.right
  float right
  width 390px

