
aside#sidebar
  header.side
    h4 Estadisticas
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  ul
    li
      a(href="javascript:void(0);") Estadisticas Generales
    li
      a(href="javascript:void(0);") Visitas
    li
      a(href="javascript:void(0);") Analytics
    li
      a(href="javascript:void(0);") SEO
