.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.delete,
.edit {
  color: #666;
  cursor: pointer;
  float: right;
  margin-left: 5px;
  text-decoration: none;
}
.edit-mode .hide {
  display: block !important;
}
.edit-mode .show {
  display: none !important;
}
ul#flash {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 200;
  margin: 0;
  padding: 0;
}
ul#flash li {
  list-style: none;
  margin: 8px 0;
  padding: 8px 15px;
  border: 1px solid #a9a9a9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  background: #fff;
  -webkit-box-shadow: 0 0 4px #eee;
  -moz-box-shadow: 0 0 4px #eee;
  box-shadow: 0 0 4px #eee;
}
h2 {
  text-shadow: 1px 1px 0 #fff;
  color: #58575a;
}
