body {
  padding: 5px 40px 40px 40px;
  font: 14px 'helvetica neue', helvetica, arial, sans-serif;
  background: url("/images/background.png");
  -webkit-font-smoothing: antialiased;
}
.hide {
  display: none;
}
.show {
  display: block;
}
#header {
  background-color: #fff;
  border: 1px solid darkGray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 760px;
  font: 18px 'helvetica neue', helvetica, arial, sans-serif;
  color: #a9a9a9;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
  -moz-box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
  box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
}
#header a {
  color: #a9a9a9;
}
.error {
  background: #c85269;
  border: 1px solid #9a3c4e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  color: #fffeff;
  font-size: 22px;
}
.wrap {
  width: 800px;
}
.left {
  float: left;
  width: 400px;
}
.right {
  float: right;
  width: 390px;
}
input[type='text'] {
  margin: 5px 0;
  padding: 8px 10px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  color: #a9a9a9;
}
input[type='text']:focus {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,171,250,0.60), 0 0 3px 1px rgba(0,171,250,0.30);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,171,250,0.60), 0 0 3px 1px rgba(0,171,250,0.30);
  box-shadow: 0 1px 1px 0 rgba(0,171,250,0.60), 0 0 3px 1px rgba(0,171,250,0.30);
}
textarea {
  margin: 5px 0;
  padding: 8px 10px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  color: #a9a9a9;
}
textarea:focus {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,171,250,0.60), 0 0 3px 1px rgba(0,171,250,0.30);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,171,250,0.60), 0 0 3px 1px rgba(0,171,250,0.30);
  box-shadow: 0 1px 1px 0 rgba(0,171,250,0.60), 0 0 3px 1px rgba(0,171,250,0.30);
}
button,
input[type='button'],
input[type='submit'] {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px;
  background: #333;
  background: url(gradient-data-uri(create-gradient-image(25px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #333));
  background: -webkit-linear-gradient(top, #999 0%, #333 100%);
  background: -moz-linear-gradient(top, #999 0%, #333 100%);
  background: linear-gradient(top, #999 0%, #333 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #c2c2c2;
  -moz-box-shadow: inset 0 1px 1px 0 #c2c2c2;
  box-shadow: inset 0 1px 1px 0 #c2c2c2;
  border: 1px solid #333;
  line-height: 1;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #2b2b2b;
  color: #fff;
}
button:hover,
input[type='button']:hover,
input[type='submit']:hover,
button.hover,
input[type='button'].hover,
input[type='submit'].hover {
#474747
  background: #474747;
  background: url(gradient-data-uri(create-gradient-image(25px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #474747));
  background: -webkit-linear-gradient(top, #999 0%, #474747 100%);
  background: -moz-linear-gradient(top, #999 0%, #474747 100%);
  background: linear-gradient(top, #999 0%, #474747 100%);
  -webkit-box-shadow: inset 0 1px 1px 0 #e0e0e0;
  -moz-box-shadow: inset 0 1px 1px 0 #e0e0e0;
  box-shadow: inset 0 1px 1px 0 #e0e0e0;
}
button:active,
input[type='button']:active,
input[type='submit']:active,
button.active,
input[type='button'].active,
input[type='submit'].active {
#292929
  background: #292929;
  background: url(gradient-data-uri(create-gradient-image(25px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #292929), color-stop(1, #949494));
  background: -webkit-linear-gradient(top, #292929 0%, #949494 100%);
  background: -moz-linear-gradient(top, #292929 0%, #949494 100%);
  background: linear-gradient(top, #292929 0%, #949494 100%);
  -webkit-box-shadow: inset 0 -1px 1px 0 #adadad;
  -moz-box-shadow: inset 0 -1px 1px 0 #adadad;
  box-shadow: inset 0 -1px 1px 0 #adadad;
}
button:hover,
input[type='button']:hover,
input[type='submit']:hover,
button.hover,
input[type='button'].hover,
input[type='submit'].hover {
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.60), inset 0 -1px 0 0 #00abfa;
  -moz-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.60), inset 0 -1px 0 0 #00abfa;
  box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.60), inset 0 -1px 0 0 #00abfa;
}
button:active,
input[type='button']:active,
input[type='submit']:active,
button.active,
input[type='button'].active,
input[type='submit'].active {
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
  -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.60);
}
button:focus,
input[type='button']:focus,
input[type='submit']:focus,
button.focus,
input[type='button'].focus,
input[type='submit'].focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.60), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.50);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.60), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.50);
  box-shadow: inset 0 0 3px 1px rgba(0,171,250,0.60), inset 0 -1px 0 0 #00abfa, 0 0 3px 1px rgba(0,171,250,0.50);
}
fieldset {
  border: 1px solid #a9a9a9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 350px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
  -moz-box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
  box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
}
.label {
  font: 14px 'helvetica neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.post {
  padding: 8px 10px;
  -webkit-font-smoothing: antialiased;
  background-color: #e0e0e5;
  border: 1px solid #c8c7cc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 0 #fff;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
  -moz-box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
  box-shadow: 0 1px 1px 0 rgba(169,169,169,0.60), 0 0 3px 1px rgba(169,169,169,0.10);
}
span.body {
  color: #222;
  -webkit-font-smoothing: antialiased;
}
.delete,
.edit {
  color: #666;
  cursor: pointer;
  float: right;
  margin-left: 5px;
  text-decoration: none;
}
.edit-mode .hide {
  display: block;
}
.edit-mode .show {
  display: none;
}
ul#flash {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 200;
  margin: 0;
  padding: 0;
}
ul#flash li {
  list-style: none;
  margin: 8px 0;
  padding: 8px 15px;
  border: 1px solid #a9a9a9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  background: #fff;
  -webkit-box-shadow: 0 0 4px #eee;
  -moz-box-shadow: 0 0 4px #eee;
  box-shadow: 0 0 4px #eee;
}
h2 {
  text-shadow: 1px 1px 0 #fff;
  color: #58575a;
}
