include sidebar
#dashboard.content
  header.dash
    h5
      span.icon-vcard
      | Dashboard
    ul
      li
        a.btn.sbtn(href="javascript:void(0);") Guardar
      li
        a.btn.sbtn(href="javascript:void(0);") Cancelar
  h1 Perkins UIKits Sheet
  .row
    .column.grid-10
      h2.f-h4 Form UI Styles
      ul.form
        li
          label(for='1') Input Text
          input#1(type='text', placeholder='Input Text')
        li
          label(for='p') Input Password
          input#p(type='password', placeholder='Input Password')
        li
          label(for='e') Input Email
          input#e(type='email', placeholder='Input Email')
        li
          label(for='n') Input Number
          input#n(type='number', placeholder='Input Number')
        li
          label(for='3') Select
          select#3
            option Lorem
            option Ipsum
            option Dolor
        li
          label(for='4') Radio
          input#4(type='radio')
        li
          label(for='5') Checkbox
          input#5(type='checkbox')
        li
          label(for='interest_checkbox_32') Switchbox
          .p-ui-checkbox
            input#interest_checkbox_32(type='checkbox', checked='checked')
            label(for='interest_checkbox_32')
              span SwitchBox
        li
          label(for='6') Textarea
          textarea#6(cols='40', rows='5', placeholder='Textarea')
      h2.f-h4 UI Buttons Styles
      ul.h-menu.demoBtns
        li
          a.btn(href='javascript:void(0);') Default
        li
          a.btn.bactive(href='javascript:void(0);') Active
        li
          a.btn.bcancel(href='javascript:void(0);') Cancel
        li
          a.btn.bback(href='javascript:void(0);') Back
        li
          a.btn.bdelete(href='javascript:void(0);') Delete
        li
          a.btn.bdisable(href='javascript:void(0);') Disable
      br
      a.p-ui-btn-action.btn(href='javascript:void(0);')
        | Call To Action
        span.p-plane
      a.p-ui-btn-action.bactive(href='javascript:void(0);')
        | Download
        span.p-download
      br
      h2.f-h4 UI DropDown Menu Styles
      br
      ul.p-ui-dropdown
        li
          a(href='javascript:void(0);') Item 1
        li(data-darr='data-darr')
          a(href='javascript:void(0);') Item 2
          ul
            li
              a(href='javascript:void(0);') Item 2.1
            li
              a(href='javascript:void(0);') Item 2.2
            li
              a(href='javascript:void(0);') Item 2.3
        li(data-darr='data-darr')
          a(href='javascript:void(0);') Long Item 3
          ul
            li
              a(href='javascript:void(0);') Item 2.1
            li(data-rarr='data-rarr')
              a(href='javascript:void(0);') Item 2.2
              ul
                li
                  a(href='javascript:void(0);') Item 2.2.1
                li
                  a(href='javascript:void(0);') Item 2.2.2
                li
                  a(href='javascript:void(0);') Item 2.2.3
            li
              a(href='javascript:void(0);') Item 2.3
        li(data-darr='data-darr')
          a(href='javascript:void(0);') Item 4
          ul
            li
              a(href='javascript:void(0);') Item 2.1
            li
              a(href='javascript:void(0);') Ultra long Item 2.2 lorem ipsum dolor sit amet
            li
              a(href='javascript:void(0);') Item 2.3
      h2.f-h4 UI Tags Styles
      ul.p-ui-tags
        li
          span
            a(href='javascript:void(0);') Typography
        li
          span Grids
        li
          span Pixels
        li
          span
            a(href='javascript:void(0);') Plugins
      br
      h2.f-h4 UI Tooltips Styles
      p
        | I&nbsp;
        span.p-ui-tooltip(data-tooltip='I mean really, really.') really
        | &nbsp;like pie. default tooltip
      p
        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.&nbsp;
        span.p-ui-tooltip(data-tooltip='I mean really, really.') Duis aute irure dolor
        | &nbsp;in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .column.grid-6
      h2.f-h4 JQuery UI Styling
      //
         Tabs 
      h2.f-h4 Tabs
      .tabs
        ul
          li
            a(href='#tabs-1') First
          li
            a(href='#tabs-2') Second
          li
            a(href='#tabs-3') Third
        #tabs-1
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        #tabs-2
          | Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.
        #tabs-3
          | Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
      //
         Accordion 
      h2.f-h4 Accordion
      #accordion
        div
          h3
            a(href='#') First
          div
            | Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        div
          h3
            a(href='#') Second
          div Phasellus mattis tincidunt nibh.
        div
          h3
            a(href='#') Third
          div Nam dui erat, auctor a, dignissim quis.
      br
      //
         ui-dialog 
      h2.f-h4 Dialogs
      a#dialog_link.btn(href='#') Open Dialog
      #dialog(title='Dialog Title')
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      a#dialog_form.btn(href='#') Open From Dialog
      #dialogForm.ui-dialog-form(title='Dialog Form Default')
        ul.form
          li
            label(for='7') Input Text
            input#7(type='text')
          li
            label(for='8') Select
            select#8
              option Lorem
              option Ipsum
              option Dolor
          li
            label(for='interest_checkbox_11') Switchbox
            .p-ui-checkbox
              input#interest_checkbox_11(type='checkbox', checked='checked')
              label(for='interest_checkbox_11')
                span SwitchBox
          li
            label(for='12') Textarea
            textarea#12(cols='40', rows='5')
      //
         Slider 
      h2.f-h4 Slider
      #slider
      //
         Progressbar 
      h2.f-h4 Progressbar
      #progressbar
      //
         Datepicker 
      h2.f-h4 Datepicker
      #datepicker(style='margin: 20px;')