
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapase', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') PlumaJS
      .nav-collapse
        ul.nav
          li.active
            a(href='/') Home
          li 
            a(href='/about') About
          li 
            a(href='/admin') Admin
          li 
            a(href='https://github.com/csanz/plumajs') Fork
          li
            a(href='http://twitter.github.com/bootstrap/') Bootstrap
