.navbar
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapase", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/") Express-Example
      .nav-collapse
        ul.nav
          li.active
            a(href="/") Home
          li 
            a(href="https://github.com/csanz/nodejs-blog") Contribute
          li
            a(href="http://twitter.github.com/bootstrap/") Bootstrap