script!= javascript
ul#flash

div.all
  h2 ExpressJS-Blog
  #header
    | ExpressJS sample blog that uses Mongoose, Jade, Stylus and AJAX/jQuery. 
  div.hide
    div.load
      img(src: '/animation.gif');
  div.wrap
    div.left
     p
      form(action= '/create', method= 'post', id= 'create')
        fieldset
          p
            div.label
              label Title
            div.field
              input(type = 'text', name= 'post[title]')
          p
            div.label
              label Body
            div.field
              textarea(name = 'post[body]')
          div
            input.button(type = 'submit', value = 'Save!')
    div.right
     p
      div#posts
        - if (posts.length)
            != partial('_post', { collection: posts }) 
        - else
          p#noposts
            strong no posts